<router-outlet></router-outlet>
<p-toast></p-toast>
<app-products></app-products>
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 " *ngFor="let product of productService.productList()">
      <div class="card mb-5 shadow-6" style="width: 18rem; height:20rem">
        <img  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <h5>{{product.price}}</h5>
          <a href="#" class="btn btn-primary" (click)="printError()">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->